// InitialPage.scss

@use "@/styles/global.scss" as v;

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.logo {
  user-select: none;
  width: 70px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.25);
}

.projectStatus {
  position: relative;
}

.projectMessage {
  position: relative;
  text-align: center;
}

.projectInfoContainer {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.iconSmall {
  width: 25px;
  position: relative;
  max-height: 100%;
  object-fit: cover;
}

.iconTextContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.buttonContainer {
  box-shadow: 0px 5px 12px -4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: transparent;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  cursor: pointer;

  transition: background-color 0.2s ease-in-out;

  &:hover {
    background-color: v.$button;
  }
}

.buttonsWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 21px;

  img {
    width: 25px;
    height: 25px;
  }

}

.pageContainer {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  text-align: left;
}
